<div class="">
    <div class="page-title">
        <div class="title_left">
            <h3>Ingredientes</h3>
        </div>

        <div class="title_right">
            <div class="col-md-5 col-sm-5  form-group pull-right top_search">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">Buscar</button>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-3 col-sm-3 ">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Ingrediente</h2>
                    <ul class="nav navbar-right panel_toolbox">
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <br>
                    <form id="demo-form2" data-parsley-validate="" class="form-horizontal form-label-left" novalidate="">

                        <div class="form-group row">
                            <label class="col-form-label col-md-3 col-sm-3 " for="first-name">
                                Nombre
                            </label>
                            <div class="col-md-9 col-sm-9 ">
                                <input type="text" id="first-name" required="required" class="form-control ">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="control-label col-md-3 col-sm-3 ">U. de M.</label>
                            <div class="col-md-9 col-sm-9 ">
                                <select class="form-control">
                                    <option selected>Kilogramos</option>
                                    <option>Pieza</option>
                                    <option>Litro</option>

                                </select>
                            </div>
                        </div>


                        <div class="form-group row">
                            <label class="col-form-label col-md-3 col-sm-3 " for="first-name">
                                Cantidad
                            </label>
                            <div class="col-md-9 col-sm-9 ">
                                <input type="text" id="cantidad" required="required" class="form-control ">
                            </div>
                        </div>

                        <div class="ln_solid"></div>
                        <div class="item form-group">
                            <div class="col-md-6 col-sm-6 text-right">
                                <button class="btn btn-primary" type="button">Guardar</button>


                            </div>
                            <div class="col-md-6 col-sm-6 text-right">
                                <button class="btn btn-primary" type="button">Limpiar</button>


                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>

        <div class="col-md-9 col-sm-9  ">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Ingredientes </h2>
                    <ul class="nav navbar-right panel_toolbox">
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <table id="tIngredientes" class="table  table-hover  table-striped" style="width:100%;">
                        <thead>
                            <tr>

                                <th style="width:10px">
                                    IdSucursal
                                </th>
                                <!--<th>
                                    Sucursal
                                </th>-->
                                <th>
                                    TotalEmpleados
                                </th>
                                <th>
                                    Porcentaje
                                </th>
                                <th>
                                    Fecha
                                </th>


                            </tr>

                        </thead>
                    </table>
                    <!--<table class="table table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Nombre</th>
                                <th>Unidad de Medida</th>
                                <th>Cantidad</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>Tortillas</td>
                                <td>Kilogramos</td>
                                <td>50</td>
                            </tr>

                        </tbody>
                    </table>-->

                </div>
            </div>
        </div>


    </div>


</div>


<!--<script src="../../../pastor/production/MVVM/Ingredientes/JsIngredientes.js"></script>-->

<script src="../../../production/MVVM/Ingredientes/JsIngredientes.js"></script>